<header>
  <hero title="{{ $ctrl.page }}"></hero>
</header>
<section class="main">
  <section class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum itaque impedit, officia, aut sit, voluptas sunt accusamus ullam ducimus cupiditate quibusdam libero consequuntur modi non unde quo quasi placeat laudantium?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci facere atque delectus in, blanditiis dolorem id nobis aliquam? Autem ex explicabo vel inventore quos totam, adipisci sed veniam at laborum?</p>
  </section>
</section>
