<header>
  <hero title="{{ $ctrl.page }}"></hero>
</header>
<section class="main">
  <section class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi culpa iusto quidem quod! Accusamus animi aspernatur autem consequuntur ea est et illum magnam, necessitatibus optio quae, similique, suscipit ullam vel.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi culpa doloribus eius eligendi fugiat, fugit hic itaque libero minima neque non nostrum officiis optio placeat quaerat quis rem, repellat soluta tempore velit? Cum dolores earum exercitationem fuga ipsum odit quis, reiciendis, rerum similique sunt suscipit tempore ullam, veritatis voluptatibus voluptatum.</p>
  </section>
</section>
